.container {
  max-width: 90%;
}

.myvotecell{
  max-width: 10%;
}

.mypostcell{
  width: 100%;
  max-width: 100%;
}

.mypost-footer{
  text-align: center;
}

.mypost-text{
  text-align: justify;
}

.new-question {
  text-align: center;
}
